.main-page
{
background-image: url("C:\ProjektyGit\TIM_Project\back_v2.jpg");
background-size: cover;
font-family: sans-serif;
color: white;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
flex-direction: column;
}

.auth-form-container-button
{
background-color: rgb(201, 200, 200) ;
color: rgb(0, 0, 0);
padding: 20px;
border-radius: 10px;
position: fixed;
bottom: 40px;
left: 20px;
font-size: 24px;
}
.auth-form-container-button.animate
{
  animation: slideInFromBottom 1.5s ease forwards;
}
.auth-form-container-button:hover
{
background-color: rgb(55, 55, 55);
color: rgb(255, 255, 255);
transition: background-color 0.5s, color 0.5s;
cursor: pointer;
}
@keyframes slideInFromBottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

