.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: url("C:\Projekt\TIM_Project\frontend\back_v2.jpg");
}

.auth-form-container, .login-form, .register-form{
  display: flex;
  flex-direction: column;
}

.login-form{
  padding: 5rem;
  border-radius: 10px;
  margin: 0;
  background-color: rgba(74, 74, 74, 0.7);
}

.register-form{
  padding: 5rem;
  border-radius: 10px;
  margin: 0;
  background-color: rgba(74, 74, 74, 0.7);
}

.auth-form-container{
  padding: 5rem;
  border-radius: 10px;
  margin: 0;
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input{
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button{
  border: none;
  background-color: rgb(201, 200, 200) ;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}
