  .main-page {
    background-image: url("C:\Users\blazz\Desktop\TIM_Project\back_v2.jpg");
    background-size: cover;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }

homeButton
{
background-color: rgb(201, 200, 200) ;
color: rgb(0, 0, 0);
padding: 20px;
border-radius: 10px;
cursor: pointer;
position: fixed;
bottom: 10px;
left: 10px;
font-size: 24px;
}
homeButton:hover
{
background-color: rgba(0, 0, 0);
color: rgb(0, 255, 0);
transition: background-color 1s, color 0.3s;
}
.auth-form-container
{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 1rem;
  background-color: rgba(71, 70, 70, 0.7);
  transform: translateY(-800px);
}
.auth-form-container.animate
{
  animation: slideInFromRight 1.5s ease forwards; /* Opóźnienie 1s */
}

@keyframes slideInFromRight {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

