/* Creategroup.css */




.create-group-form input[type="number"],
.create-group-form input[type="date"],
.create-group-form input[type="time"],
.create-group-form select {
  padding: 10px;
  margin: 5px 0; /* Zmniejszenie odstępu między polami */
  border: 2px solid #ffffff;
  border-radius: 5px;
  background-color: white;
  color: #1b21c3;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
  appearance: none;
}

.create-group-form button {
  background-color: #1b21c3;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 18px;
}

.create-group-form button:hover {
  background-color: darkblue;
}

.selectoption select {
  padding: 10px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  background-color: white;
  color: #1b21c3;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
  appearance: none;
}

.selectoption select:focus {
  outline: none;
}

.selectoption select::-ms-expand,
.selectoption select::-ms-value {
  display: none;
}

.selectoption select::before {
  content: "▼";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.selectoption select:hover {
  border-color: #1b21c3;
  background-color: #ffffff;
  transition: 0.3s;
}
