.dashboard-page
{
background-image: url("C:\Projekt\TIM_Project\back_v2.jpg");
background-size: cover;
font-family: sans-serif;
color: white;
display: flex;
height: 100vh;
flex-direction: column;
}


.managing-groups{
    padding: 20px;
    font-family: sans-serif;
    color: white;
    display: flex;
}