labelLogin
{
text-align: left;
font-size: 30px;
}
buttonLogin
{
background-color: rgb(201, 200, 200) ;
color: rgb(0, 0, 0);
padding: 20px;
border-radius: 10px;
text-align: center;
cursor: pointer;
}
buttonLogin:hover
{
background-color: rgba(0, 0, 0);
color: rgb(0, 255, 0);
transition: background-color 1s, color 0.3s;
}
input
{
margin: 0.5rem 0;
padding: 1rem;
border: none;
border-radius: 10px;
border: 1px solid #ccc;
font-size: 16px;
}
.auth-form-Login
{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 1rem;
  opacity: 0;
  background-color: rgba(71, 70, 70, 0.7);
}
.auth-form-Login.animate
{
  animation: slideInFromRight 1.5s ease forwards;
}
@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(10);
    opacity: 1;
  }
}