labelRegister
{
  font-family: sans-serif;
  text-align: left;
  font-size: 30px;
  padding-bottom: 20px;
}
buttonRegister
{
background-color: rgb(201, 200, 200) ;
color: rgb(0, 0, 0);
padding: 20px;
border-radius: 10px;
font-weight: bold;
text-align: center;
cursor: pointer;
}
buttonRegister:hover
{
background-color: rgb(52, 52, 52);
color: rgb(255, 255, 255);
transition: background-color 0.5s, color 0.5s;
}
input
{
margin: 0.5rem 0;
padding: 1rem;
border: none;
border-radius: 10px;
border: 1px solid #ccc;
font-size: 16px;
}
.auth-form-Register
{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 2rem;
  opacity: 0;
  background-color: rgba(50, 50, 50, 0.8);
}
.auth-form-Register.animate
{
  animation: slideInFromRight 1.5s ease forwards;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(10);
    opacity: 1;
  }
}


