labelStartPage
{
text-align: center;
font-size: 25px;
}
buttonStartPage
{
background-color: rgb(201, 200, 200) ;
color: rgb(0, 0, 0);
padding: 20px;
border-radius: 10px;
text-align: center;
cursor: pointer;
}
buttonStartPage:hover
{
background-color: rgba(0, 0, 0);
color: rgb(0, 255, 0);
transition: background-color 1s, color 0.3s;
}