buttonStartPageLogin
{
background-color: rgb(201, 200, 200) ;
color: rgb(0, 0, 0);
padding: 20px;
width: 150px;
height: 20px;
border-radius: 10px;
text-align: center;
font-weight: bold;
cursor: pointer;
position: fixed;
bottom: 80px;
right: 150px;
}
buttonStartPageLogin:hover
{
background-color: rgb(52, 52, 52);
color: rgb(255, 255, 255);
transition: background-color 0.5s, color 0.5s;
}


buttonStartPageRegister
{
background-color: rgb(201, 200, 200) ;
color: rgb(0, 0, 0);
padding: 20px;
width: 150px;
height: 20px;
border-radius: 10px;
text-align: center;
font-weight: bold;
cursor: pointer;
position: fixed;
bottom: 10px;
right: 150px;
}
buttonStartPageRegister:hover
{
background-color: rgb(52, 52, 52);
color: rgb(255, 255, 255);
transition: background-color 0.5s, color 0.5s;
}

.text-center.animate
{
  animation: slideInFromRight 1.5s ease forwards;
}
@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(10);
    opacity: 1;
  }
}

hwelcome {
  font-size: 40px;
}

.custom-card {
  color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 1rem;
  opacity: 0;
  background-color: rgba(50, 50, 50, 0.8);
}